$fa-font-path: "./todo-list-project/fontawesome-free-5.13.0-web/webfonts/"

$colors: (
    soft: #FE86A4;
    fun: #FFDBE6;
    sweet: #78C0F9;
);
//https://color.adobe.com/search?q=productive
//https://www.w3schools.com/cssref/css_colors.asp